.info{
    background: #c9c1ac
}
body {
    /*font-family: 'Mr Dafoe', cursive;*/
    font-family: 'Bangers', cursive;
    color: #c9c1ac;
    background: url(../img/moritz-mentges-2RLRbRkWtpc-unsplash.jpg)center/cover fixed no-repeat;
}

.primary-color {
    color: #1a4fda;
}

.info h2 {
    word-spacing: 0.4rem;
}

.info a {
    transition: color .6s ease-in-out;
}
.info a:hover {
    color: #242424
}

/*@@@@@@@@@@@@@@@@@header@@@@@@@@@@@@@@@@@*/

#header{
    min-height: calc(100vh - 94px);
    background: linear-gradient(/*to right,*/rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/banner3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.height-90{
    min-height: calc(100vh - 94px);
}
.pink-color{
    color: #d3325f;
}
.banner h1{
    border-top: 6px dotted #c9c1ac;
    border-bottom: 6px dotted #c9c1ac;
    animation: fromLeft;
    animation-duration: 4s;
    animation-delay: .3s;
    opacity: 0%;
    animation-fill-mode: forwards;
}

@keyframes fromLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0%;
    } 
    50%{
        transform: translateX(30px);
    } 
    100%{
        transform: translateX();
        opacity: 1;
    }
}


.main-btn{
    color: #d3325f;
    font-size: 2rem;
    border: 2px solid #c9c1ac;
    transition: all .6s ease-to-out;
}

.main-btn:hover{
    color: #242424;
    border: 2px solid #c9c1ac;
    background: #c9c1ac;
}

.order-btn{
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: .3s;
    opacity: 0%;
    animation-fill-mode: forwards;
}

@keyframes fromRight{
    0%{
        transform: translateX(100px);
        opacity: 0%;
    } 
    50%{
        transform: translateX(-30px);
    } 
    100%{
        transform: translateX();
        opacity: 1;
    }
}

.header-link {
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    background: #c9c1ac;
    border-radius: 10px;
    transition: all 1s ease;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.header-link:hover{
    color:#d3325f;
    background: transparent;
}

@keyframes fromBottom{
    0%{
        transform: translateY(-10px);
    } 
    50%{
        transform: translateY(10px);
    } 
    100%{
        transform: translateY(-10px);
        opacity: 1;
    }
}

/*@@@@@@@@@@@@@@@@@menu items @@@@@@@@@@@@@@@@*/
.item-container{
    position: relative;
    /* for the link*/
    overflow: hidden;
    background: linear-gradient(rgb(0,0,0),rgb(0,0,0));
    transition: all .6s ease;
}

.item-img{
    transition: all .6s ease;
}

.item-container:hover .item-img {
    /*hover on item container item-img will change*/
    transform: scale(1.2);
    opacity: 0.5;
}

.item-link{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #d3325f;
    font-size: 2rem;
    border-top: 3px solid #d3325f;
    border-bottom: 3px solid #d3325f;
    transition: all .6s ease;
    opacity: 0;
}

.item-container:hover .item-link {
    opacity: 1;
}

.item-link:hover{
    color: #242424;
    border: 3px solid #c9c1ac;
    background: #c9c1ac;
}

.item-container:hover {
    outline: 10px solid #d3325f;
    outline-offset: 0.5rem;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ MENU $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

#menu{
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url(../img/banner3.jpg)center/cover fixed no-repeat;
}

.special {
    border: 3px solid #d3325f;
    position:relative;
}

.special-text {
    position: absolute;
    top: 0;
    right: 10%;
    background: #d3325f;
    padding: 0 0.4rem;
}